<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inform service - Login</title>
    <style>
        body {
          background-image: url("https://blog.depositphotos.com/wp-content/uploads/2017/07/Soothing-nature-backgrounds-2.jpg.webp");
          background-size: cover;
          background-position: center;
        }

        .login-container {
          width: 300px;
          height: 300px;
          background-color: white;
          border-radius: 10px;
          margin: 0 auto;
          margin-top: 150px;
          padding: 20px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        .input-field {
          margin-bottom: 15px;
        }

        .input-field label {
          display: block;
          margin-bottom: 5px;
        }

        .input-field input {
          width: 100%;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid #ccc;
        }

        .login-button {
          width: 100%;
          padding: 10px;
          background-color: #4CAF50;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }

        .login-button:hover {
          background-color: #45a049;
        }

        .error-message {
          display: none;
          color: red;
          margin-top: 10px;
        }
    </style>
</head>
<body>
 <div class="login-container">
    <form action="/login" method="post" onsubmit="return validateForm()">
      <div class="input-field">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username">
      </div>
      <div class="input-field">
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password">
      </div>
      <button type="submit" class="login-button">Войти</button>
      <div id="error-message" class="error-message">{{ error_message }}</div>
    </form>
  </div>

  <script>
   const urlParams = new URLSearchParams(window.location.search);
   const error_message = "{{ error_message }}";

   if (error_message) {
        const errorMessageElement = document.getElementById("error-message");
        errorMessageElement.textContent = error_message;
        errorMessageElement.style.display = "block";
    }

    function validateForm() {
      var username = document.getElementById("username").value;
      var password = document.getElementById("password").value;
      var errorMessage = document.getElementById("error-message");

      if (username.trim() === "" || password.trim() === "") {
        errorMessage.textContent = "Введите имя пользователя и пароль.";
        errorMessage.style.display = "block";
        return false;
      } else {
        errorMessage.style.display = "none";
        return true;
      }
    }
  </script>
</body>
</html>