<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inform service - Info</title>
    <style>
        body {
          background-image: url("https://blog.depositphotos.com/wp-content/uploads/2017/07/Soothing-nature-backgrounds-2.jpg.webp");
          background-size: cover;
          background-position: center;
        }

       .salary-container {
          width: 300px;
          margin: 0 auto;
          margin-top: 150px;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        .greeting {
          text-align: center;
          font-size: 20px;
          margin-bottom: 10px;
        }

        .salary-info {
          margin-bottom: 10px;
        }

        .promotion-info {
          font-style: italic;
        }
    </style>
</head>
<body>
    <div class="salary-container">
        <div class="greeting">
          Здравствуйте, {{ username }}!
        </div>
        <div class="salary-info">
          Ваша зарплата на данный момент: {{ salary }}
        </div>
        <div class="promotion-info">
          Следующее повышение: {{ promotion_date }}
        </div>
    </div>
</body>
</html>