<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inform service - Token</title>
    <style>
        body {
          background-image: url("https://blog.depositphotos.com/wp-content/uploads/2017/07/Soothing-nature-backgrounds-2.jpg.webp");
          background-size: cover;
          background-position: center;
        }

        .token-container {
          width: 300px;
          margin: 0 auto;
          margin-top: 150px;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        .greeting {
          text-align: center;
          font-size: 20px;
          margin-bottom: 10px;
        }

        .instructions {
          margin-bottom: 10px;
        }

        .token-section {
          display: none;
        }

        .generated-token {
          margin-bottom: 10px;
          word-break: break-all;
          overflow-wrap: break-word;
        }

        .input-field {
          margin-bottom: 10px;
        }

        .copy-button {
          width: 100%;
          padding: 10px;
          background-color: #4CAF50;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }

        .copy-button:hover {
          background-color: #45a049;
        }

        .check-token-button {
          width: 100%;
          padding: 10px;
          background-color: #DC143C;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top: 10px;
        }

        .check-token-button:hover {
          background-color: #45a049;
        }

        .success-message {
          color: green;
          margin-top: 10px;
          text-align: center;
        }

        .error-message {
          color: red;
          margin-top: 10px;
          text-align: center;
        }
    </style>
</head>
<body>
    <div class="token-container">
         <!-- Greeting message -->
        <div class="greeting">
          Здравствуйте, {{ username }}!
        </div>
        <!-- Instructions for generating and verifying the token -->
        <div class="instructions">
          Для того, чтобы получить данные, необходимо сгенерировать токен и вставить его в поле ниже для проверки.
          Токен автоматически копируется в буфер обмена, если нажать кнопку "Скопировать токен".
        </div>
        <!-- Button to generate token -->
        <button id="generate-token-button" class="copy-button">Сгенерировать токен</button>
        <div class="token-section">
            <!-- Display the generated token -->
          <div class="generated-token" id="generated-token"></div>
            <!-- Input field to enter the token -->
          <div class="input-field">
            <label for="token-input">Введите токен:</label>
            <input type="text" id="token-input">
          </div>
            <!-- Button to copy the token to clipboard -->
          <button id="copy-token-button" class="copy-button">Скопировать токен</button>
            <!-- Button to check the validity of the token -->
          <button id="check-token-button" class="check-token-button">Проверить токен</button>
        </div>
        <!-- Display success message -->
        <div class="success-message" id="success-message"></div>
        <!-- Display error message -->
        <div class="error-message" id="error-message"></div>
    </div>
    <script>
     // Event listener for generate token button
        document.getElementById("generate-token-button").addEventListener("click", async () => {
            const response = await fetch("/generate_token?username={{ username }}");
            const data = await response.json();
            const token = data.token;

            document.getElementById("generated-token").innerText = `Сгенерированный токен: ${token}`;
            document.getElementById("token-input").value = token;
            document.querySelector(".token-section").style.display = "block";
        });

    // Event listener for copy token button
        document.getElementById("copy-token-button").addEventListener("click", () => {
            const tokenInput = document.getElementById("token-input");
            tokenInput.select();
            tokenInput.setSelectionRange(0, 99999); // for mobile devices

            try {
                document.execCommand("copy");
                document.getElementById("success-message").innerText = "Токен скопирован!";
                document.getElementById("error-message").innerText = "";
            } catch (err) {
                document.getElementById("error-message").innerText = "Ошибка при копировании токена!";
                document.getElementById("success-message").innerText = "";
            }
        });

    // Event listener for check token button
        document.getElementById("check-token-button").addEventListener("click", async () => {
            const token = document.getElementById("token-input").value;
            const response = await fetch(`/verify_token?username={{ username }}&user_token=${encodeURIComponent(token)}`);
            const data = await response.json();

            if (data.valid) {
                window.location.href = `/salary/{{ username }}?user_token=${encodeURIComponent(token)}`;
            } else {
                document.getElementById("error-message").innerText = data.error_message;
                document.getElementById("success-message").innerText = "";
            }
        });
    </script>
</body>
</html>